.container{
    position: relative;
    display: flex;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: row;
}

.rowContainer{
    display: flex;
    flex-direction: row;
}

.rowOne {
    display: flex;
    flex-direction: row;
    text-align:center;
    /*align-content: space-between; */
    
}

.rowTwo {
    display: flex;
    flex-direction: row;
    text-align:center;
    /*align-content: space-between; */
    
}

.rowThree {
    display: flex;
    flex-direction: row;
    text-align:center;
    /*align-content: space-between; */
    
}

.rowFour {
    display: flex;
    flex-direction: row;
    text-align:center;
    /*align-content: space-between; */
    
}

.subDiv1 {
    background-color: rgb(255, 255, 255);
    /*width:auto;*/
    /*height: 25svh;*/
    
}

.subDiv2 {
    background-color: rgb(255, 255, 255);
    /*width: auto;*/
    /*height: 25svh;*/
    
}

.subDiv3 {
    background-color: rgb(255, 255, 255);
    /*width: auto;*/
    /*height: 25svh;*/
    
}

.subDiv4 {
    background-color: rgb(255, 255, 255);
    /*width: auto;*/
    /*height: 25svh;*/
}

.gridItem {
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 25svh;
}

.buttonForGrid{
    position: absolute;
    z-index: 1;
    height: 2rem;
    width: auto;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: rgb(69, 51, 21);
  }

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
  }

